$orange: #f46708; //f46708 faaf40
$black: #111111;
$charcoal: #151415;
$burnt-orange: #bc6124;
$white: #ffffff;
$yellow: #faaf40;


.button--primary {
  padding: 20px;
  font-family: 'featured-item';
  background-color: $orange;
  z-index: 2;
  display: block;
  position: relative;
  font-size: 20px;
  max-width: 300px;
  transition: box-shadow .5s ease-in-out;
  box-shadow: none;

  &:hover {
    -webkit-box-shadow: -5px -5px 0 0 $burnt-orange;
    -moz-box-shadow: -5px -5px 0 0 $burnt-orange;
    box-shadow: -5px -5px 0 0 $burnt-orange;
  }
}

em {
  font-style: italic;
}
