html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button--primary {
  padding: 20px;
  font-family: 'featured-item';
  background-color: #f46708;
  z-index: 2;
  display: block;
  position: relative;
  font-size: 20px;
  max-width: 300px;
  transition: box-shadow .5s ease-in-out;
  box-shadow: none; }
  .button--primary:hover {
    -webkit-box-shadow: -5px -5px 0 0 #bc6124;
    -moz-box-shadow: -5px -5px 0 0 #bc6124;
    box-shadow: -5px -5px 0 0 #bc6124; }

@font-face {
  font-family: 'featured-item';
  src: url("../fonts/featureditem-webfont.woff2") format("woff2"), url("../fonts/featureditem-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neutra-text';
  src: url("../fonts/NeutraTextLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neutra-text';
  src: url("../fonts/NeutraTextBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box; }

header {
  background-color: #151415;
  border-top: 11px solid #f46708;
  height: 100vh;
  margin-top: -200px;
  position: relative;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 4; }
  header::before {
    background-image: url("../img/vr.jpg");
    background-size: cover;
    opacity: 0.3;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.header--dropdown {
  margin-top: 0; }

.games-drawer {
  align-items: center;
  background-color: #f46708;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  -webkit-box-shadow: inset 0px -7px 32px -11px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0px -7px 32px -11px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0px -7px 32px -11px rgba(0, 0, 0, 0.65); }
  .games-drawer a {
    margin: 0 15px; }

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'neutra-text'; }

.sticky-nav {
  opacity: 0;
  position: fixed;
  top: 0;
  margin-top: -81px;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 3; }
  .sticky-nav--visible {
    opacity: 1;
    margin-top: 0; }
  .sticky-nav__webiste-links {
    align-items: center;
    background-color: #f46708;
    border-bottom: 1px solid #bc6124;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 50px; }
  .sticky-nav__games-list {
    align-items: center;
    background-color: #151415;
    border-bottom: 1px solid #111111;
    display: flex;
    padding: 12px 155px;
    flex-wrap: wrap;
    text-transform: uppercase;
    border-bottom: 1px solid #333333;
    transition: margin 1s ease-in-out; }
    .sticky-nav__games-list a {
      margin: 0 15px;
      transition: color .5s ease-in-out; }
      .sticky-nav__games-list a:hover {
        color: #f46708; }
    .sticky-nav__games-list--visible {
      margin-top: 0; }

.website-links {
  font-family: 'featured-item', sans-serif;
  letter-spacing: 1px;
  margin: 0 15px;
  text-transform: uppercase;
  transition: text-shadow .5s ease-in-out; }
  .website-links:hover {
    text-shadow: -1px -1px 0 #151415, -2px -2px 0 #151415; }

.website-links__logo {
  font-family: 'neutra-text', sans-serif;
  letter-spacing: 1px;
  margin: 0 15px;
  text-transform: uppercase; }

.social-links {
  align-items: center;
  display: flex;
  justify-content: center; }

.header__icons {
  width: 20px;
  height: 20px;
  margin: 0 10px; }
  .header__icons .path {
    fill: #151415;
    transition: fill .5s ease-in-out; }
  .header__icons:hover .path {
    fill: #ffffff; }

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 50px 50px;
  position: relative;
  width: 100%; }
  nav a {
    margin: 0 50px;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'featured-item';
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease-in-out; }
    nav a:hover {
      text-shadow: -1px -1px 0 #f46708, -2px -2px 0 #f46708, -3px -3px 0 #f46708; }

h1 {
  color: #ffffff;
  font-family: 'neutra-text', sans-serif;
  font-size: 72px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px; }

h2 {
  color: #f46708;
  font-family: 'featured-item';
  font-size: 60px;
  letter-spacing: 1px; }

.games-section {
  background-color: #151415;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'neutra-text', sans-serif;
  font-size: 16px;
  height: 100vh;
  position: relative;
  letter-spacing: 2px;
  overflow: hidden; }
  .games-section--left {
    align-items: flex-start; }
  .games-section--right {
    align-items: flex-end; }
  .games-section__copy-wrapper {
    padding: 100px 50px;
    width: 100%;
    z-index: 3; }
    @media screen and (min-width: 500px) {
      .games-section__copy-wrapper {
        width: 66%; } }
    @media screen and (min-width: 1000px) {
      .games-section__copy-wrapper {
        width: 50%; } }
    @media screen and (min-width: 1300px) {
      .games-section__copy-wrapper {
        width: 33%; } }
  .games-section h3 {
    font-size: 40px;
    margin: 10px 0;
    text-shadow: 1px 1px 0 #151415, 2px 2px 0 #151415; }
  .games-section p {
    font-size: 22px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 0 #151415, 2px 2px 0 #151415; }

.games-section--dont-look-away::after {
  background-image: url("../img/dont-look-away.jpg");
  background-size: cover;
  opacity: 0.3;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; }

.games-section--the-take::after {
  background-image: url("../img/the-take-bg.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; }

.games-section--net-brutality::after {
  background-image: url("../img/net-brutality.png");
  background-size: cover;
  opacity: 0.3;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1; }

.the-take__video-overlay {
  background-image: url("../img/overlay-pattern.png");
  bottom: 0;
  display: none;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 700px) {
    .the-take__video-overlay {
      display: block; } }

.the-take__video {
  display: none;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 1; }
  @media only screen and (min-width: 700px) {
    .the-take__video {
      display: block; } }

footer {
  background-color: #f46708;
  width: 100%;
  font-family: 'neutra-text', sans-serif;
  color: #ffffff; }

.footer-accent {
  background-color: #bc6124;
  height: 10px;
  width: 100%; }

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px; }

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.twitter__wrapper {
  background-color: #f46708;
  padding: 100px 30px;
  text-align: center;
  font-family: 'neutra-text', sans-serif;
  font-size: 35px; }
  @media screen and (min-width: 1000px) {
    .twitter__wrapper {
      padding: 100px 150px; } }
  .twitter__wrapper a {
    color: #ffffff; }
  .twitter__wrapper .twitter__icon {
    width: 30px;
    height: 30px;
    margin: 10px 15px 0 0; }
  .twitter__wrapper .twitter__handle {
    margin-top: 10px; }

.handle__wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.team-section {
  background-color: #151415;
  color: #ffffff;
  font-size: 20px;
  font-family: 'neutra-text', sans-serif;
  padding: 100px 0; }
  .team-section h2 {
    text-align: center; }

.team-section__copy {
  margin: 30px auto;
  max-width: 900px;
  text-align: center;
  width: 100%; }

.team-wrapper {
  margin: 50px 0 0;
  display: block; }
  @media screen and (min-width: 450px) {
    .team-wrapper {
      display: flex;
      justify-content: center; } }
  .team-wrapper h3 {
    color: #ffffff;
    font-size: 15px; }

.bio-image__overlay {
  align-items: center;
  background-color: #f46708;
  display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 2; }

.profile-pic {
  background-color: #f46708;
  background-size: cover;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }
  .profile-pic--jose {
    background-image: url("../img/jose.jpg"); }
  .profile-pic--rob {
    background-image: url("../img/rob.png"); }
  .profile-pic--john {
    background-image: url("../img/john.png"); }

.bio-wrapper {
  color: #ffffff;
  width: 100%;
  margin: 0 20px; }
  @media screen and (min-width: 450px) {
    .bio-wrapper {
      max-width: 300px; } }
  .bio-wrapper h3 {
    color: #f46708;
    font-family: 'featured-item';
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0; }
  .bio-wrapper h4 {
    text-transform: uppercase;
    font-family: 'neutra-text';
    font-size: 20px;
    text-align: center;
    margin: 10px 0; }
  .bio-wrapper p {
    text-align: justify;
    font-family: 'neutra-text';
    font-size: 20px; }

.bio-image__wrapper {
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 450px) {
    .bio-image__wrapper {
      max-width: 300px;
      height: 300px; } }
  .bio-image__wrapper:hover .bio-image__overlay {
    opacity: 0.8; }

.bio__label {
  color: #ffffff;
  font-family: 'featured-item';
  font-size: 32px; }

.bio__text {
  color: #151415;
  font-size: 22px;
  font-family: 'neutra-text';
  margin-top: 10px; }

.bio-image__twitter {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3; }

.bio-social__twitter {
  display: block;
  text-align: center;
  margin: 10px 0 20px;
  transition: color .5s ease-in-out; }
  .bio-social__twitter svg {
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 20px; }
    .bio-social__twitter svg path {
      fill: #ffffff;
      transition: fill .5s ease-in-out; }
  .bio-social__twitter:hover {
    color: #f46708; }
    .bio-social__twitter:hover svg path {
      fill: #f46708; }

.game-title {
  font-style: italic; }

.job-title--jose:hover {
  font-size: 0; }
  .job-title--jose:hover::after {
    content: 'business guy';
    font-size: 20px; }

.job-title--rob:hover {
  font-size: 0; }
  .job-title--rob:hover::after {
    content: 'design critic';
    font-size: 20px; }

.job-title--john:hover {
  font-size: 0; }
  .job-title--john:hover::after {
    content: 'coffee sommelier';
    font-size: 20px; }

/*# sourceMappingURL=stuido.css.map */